@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.full {
    
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    background-color: black;

}
.next {
    
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    background-color: rgb(255, 255, 255);
}
.next1 {
    
    
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    background-color: rgb(255, 255, 255);
}
.next2 {
    
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    background-color: rgb(0, 0, 0);
}
   
.mainpct {
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;

}  
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.nav {
    align-items: center;
    display: flex;
    float: right;
    padding-top: 20px;
    font-size: 20px;
    


}
.nav__link {
   vertical-align: top;
   display: inline-block;

    margin-right: 35px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color .2s linear
      
}
.nav__link:hover {
    color:rgb(248, 6, 6)
}
.wrap {
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    
}
/*  
.contactsall ul li {

}

.contactsall ul li a {

}

.contactsall>div{

}
*/
.secondpct {
    width: 100%;

    background-size: cover;
    overflow: hidden;

}
.name {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 18px;
    
}
.alltext {
width: 100%;
max-width: 500px;
font-size: 20px;
color: rgb(0, 0, 0);
}
.wrap2 {
    justify-content: space-between;
    align-items: center;
    display: flex;

}
.thirdpct {
   max-width: 330px;
    width: 100%;
    
    display: flex;

}
.name1  {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}
.contactss {
    padding-top: 15px;
    text-decoration: none;
    vertical-align: top;
   display: inline-block;
   color: rgb(0, 0, 0);
   font-size: 25px;
   font-weight: 600;
   padding-right: 8px;
   
}
li {
    list-style-type: none; 
   }
   ul {
    padding-left: 0;
   }
   .lastcol .div {
       width: 70px;
   }
   .wrap3 {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-bottom: 30px;
    
    

   }
   .columns {
    display: flex;
     flex-direction: column;
   
    
    padding-top: 72px;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
   
    
    
    
   }
   .inputstyle {
    height: 120px;
    margin: 0 auto;
    
    background-size: cover;
    background-color: rgba(233, 229, 223, 0.247);
    resize: none;
    font-style: normal;
    font-size: 20px;
    border: 2px;
    border-color: black;
    border-style: solid;
    width: 100%;
    min-height: 140px;
    background-color: rgba(233, 229, 223, 0.247);
    margin-bottom: 15px;
    max-width: 500px;

   }
   #text {
       padding-left: 7px;
   }

   input.inputstyle1 {
    max-width: 500px;  
    width: 100%;
    height: 30px; 
    background-color: rgba(233, 229, 223, 0.247);
    margin-bottom: 15px;
   }
   input.inputstyle2 {
    max-width: 500px;  
    width: 100%; 
    height: 30px; 
    background-color: rgba(233, 229, 223, 0.247);
    margin-bottom: 15px;
   }
   .contactss {
       padding-bottom: 10px;
   }
   .send1 {
    max-width: 300px;  
    width: 100%;  
    height: 45px;
    background-color: rgba(233, 229, 223, 0.247);
   }
  .send2 {
      padding-left: 120px;
  }
  .nav__link1 {
    
    vertical-align: top;
    display: inline-block;
    font-size: 15px;
     margin-right: 35px;
     color: rgb(255, 255, 255);
     text-decoration: none;
     transition: color .2s linear
     
  }
  .navv {
    text-align: center;  
    width: 100%;
    padding-top: 20px;
  }
  .nav__link1:hover {
    color:rgb(248, 6, 6)
}
  .lastt {
    text-align: center;  
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    color: white;
   
}
input {
    padding: 0 10px; 
    font-size: 20px; 
    
}
.new1 {
    
    padding-top: 15px;
    text-decoration: none;
    vertical-align: top;
   display: inline-block;
   color: rgb(0, 0, 0);
   font-size: 25px;
}














@media only screen and (max-width: 1200px) {

}
@media (max-width: 992px) {

    .contactsall ul li {
        line-height: 16px;
    }
   
    .columns {
        padding-right: 30px;
        width: 100%;
        max-width: 450px;
                
    }
    .contactsall {
        font-size: 70px;
        padding-left: 30px;
    }
 
.alltext {
    padding-left: 15px;
    font-size: 20px;
    max-width: 400px;
}
.thirdpct {
    padding-right: 15px;
}
.name {
margin-bottom: auto;
margin-top: auto;
}
}
@media (max-width: 844px) {
    .columns {
        padding-right: 30px;
        width: 100%;
        max-width: 380px;
                
    }

}

@media only screen and (max-width: 768px) {
    
    .nav a {
        font-size: 20px;
    }
    .alltext {
        padding-left: 20px;
        font-size: 18px;
        
    }
    .thirdpct {
        padding-right: 20px;
    }
    .name {
        margin-bottom: auto;
        margin-top: auto;
    }   
    .columns {
        width: 100%;
        max-width: 330px;
    }
}

/*  emai phone etc .contactsall ul li span {
        font-size: 16px;
    } 
    numbers .contactsall ul li a {
        font-size: 16px;
    }*/

@media (max-width: 714px) {
    .contactsall ul li span {
        font-size: 18px;
    }
@media (max-width: 682px) {
    .columns {
        width: 100%;
        max-width: 290px;
    }
}
    }
@media (max-width: 630px) {
    .contactsall {
        margin-top: -40px;
    }
    .columns>div  {
        margin-top:  -100px;
        
           
    }
    .contactsall {
        padding-top: -40px;
    }
    .name1 {
        line-height: 5px;
    }

    .contactsall ul li {
        line-height: 2px;
    }

    .contactsall ul li a {
        font-size: 16px;
    }

    .contactsall ul li span {
        font-size: 16px;
    }
    .alltext {
        width: 100%;
        
    }
    .wrap3 {
       
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        text-align: center
        
    }
   
    .thirdpct {
        padding-top: 5px;
        justify-content: center;
    align-items: center;
        max-width: 200px;
    }
    .columns {
        flex-direction: column;
       }
        .wrap2 {
            flex-direction: column;
        }


}
    
@media (max-width: 564px) {
    .nav a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .mainpct {
        width: 140px;
    }
    .nav a {
        font-size: 12px;
    }
    .alltext {
        padding-left: 35px;
        font-size: 16px;
        
    }
    
    .name {
        margin-bottom: auto;
margin-top: auto;

    }

}
@media (max-width: 412px) {
    .nav a {
        font-size: 11px;
    } 
}
@media (max-width: 390px) {
    .nav a {
        font-size: 9px;
    }  
}
@media (max-width: 367px) {
    .nav a {
        font-size: 6px;
    }
    
}
@media only screen and (max-width: 320px) {
    .mainpct {
        width: 110px;
    }
    .nav a {
        font-size: 6px;
    }
    .alltext {
        text-align: center;
        padding-right: 20px;
    }
    .thirdpct {
        padding-right: 45px;
    }
}


   /* display: flex;
flex-direction: column;
flex-wrap: wrap; */